.panel-heading.oranzna {
    color: rgb(255, 255, 255);
    background-color: rgb(255, 153, 0);
}

.input-group-addon.opozorilo {
    color: rgb(255, 255, 255);
    background-color: rgb(255, 153, 0);
}

.navbar-inverse {
    background-color: #337AB7;
    border-radius: 0;
    border: 0;
}

.navbar-inverse a:hover{
   color: rgb(255, 153, 0) !important;
}

.navbar-inverse li a {
    color:#FFFFFF !important;
}

.navbar-brand {
    color:#FFFFFF !important;
}

.alert {
    padding-bottom: 6px;
    padding-top: 6px;
    margin-top: 10px;
    margin-bottom: 0px;
}